#ENDPOINT=https://apim-foundryproxy-dev.azure-api.net/foundry/gpt-5.4/
#API_KEY=<API Key>
API_KEY=e8f389467cec4764a95ac3986ab2b9e6
ENDPOINT=https://apim-foundryproxy-dev.azure-api.net/foundry/gpt-5.4/
CHAT_DEPLOYMENT=gpt-5.4
VISION_DEPLOYMENT=gpt-5.4
EMBEDDING_DEPLOYMENT=text-embedding-3-large
